DB_INSTANCE=ade_db
sys_min_price=100
priority_pos=231
EMPTY_RE_TIMEOUT=300
RE_TIMEOUT=600
X=1
Y=1
RE_PV_LIMIT=50
RANK_TOP_RATIO=0.1
RANK_PV_RATIO=0.9
RANK_CTR_THRESHOLD=1
RANK_CTR_THRESHOLD2=2.5
RANK_CTR_THRESHOLD3=2.5
RANK_PV_RATIO_63=0.9
RANK_TOP_COUNT=3
QUALITY_TOP_COUNT=50
cost_discount=0.98
rand_seed=200
price_power=1
ctr_power=1
ad_blind_threshold=100000
HOURCOUNT=48
PVTHRESHOLD=100000
CLICKTHRESHOLD=20
url_encode=1
alpha_threshold=1
lr_demo_state=1024
lr_model_id=0
lr_confidence_th=1.0
lr_confidence_discount=0.5
lr_confidence_th0=1.0
lr_confidence_th1=0.5
lr_weight_0=1.0
lr_weight_1=1.0
lr_weight_2=1.0
