<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>校内Sql监控 30天详情</title>
<script type="text/javascript"src="/y/js/swfobject.js"></script>
<script type="text/javascript"src="/y/js/json2.js"></script>
</head>
<body>
    <b2>校内Sql监控 30天详情</b2>
	<br>
    <a href="/y/db/sql/generalInfo?byear=$byear&bmonth=$bmonth&bday=$bday&bhour=$bhour&bminute=$bminute&bsecond=$bsecond&ehour=$ehour&eminute=$eminute&esecond=$esecond&eyear=$eyear&emonth=$emonth&eday=$eday">sql慢查询概况</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/y/http/error/geneInfo?byear=$byear&bmonth=$bmonth&bday=$bday&bhour=$bhour&bminute=$bminute&bsecond=$bsecond&ehour=$ehour&eminute=$eminute&esecond=$esecond&eyear=$eyear&emonth=$emonth&eday=$eday">404/500概况</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/y/http/error/details?byear=$byear&bmonth=$bmonth&bday=$bday&bhour=$bhour&bminute=$bminute&bsecond=$bsecond&ehour=$ehour&eminute=$eminute&esecond=$esecond&eyear=$eyear&emonth=$emonth&eday=$eday">404/500详情</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/y/http/overtime/geneInfo?byear=$byear&bmonth=$bmonth&bday=$bday&bhour=$bhour&bminute=$bminute&bsecond=$bsecond&ehour=$ehour&eminute=$eminute&esecond=$esecond&eyear=$eyear&emonth=$emonth&eday=$eday">Url超时概括</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br>
	
<table>
		<tr>
			<td align="center">日期</a></td>
			<td align="center">超时的sql来源服务</a></td>
			<td align="center"><a href=generalInfo?byear=$byear&bmonth=$bmonth&bday=$bday&bhour=$bhour&bminute=$bminute&bsecond=$bsecond&ehour=$ehour&eminute=$eminute&esecond=$esecond&eyear=$eyear&emonth=$emonth&eday=$eday&sorttype=avgtime>超时的平均时间</a></td>
			<td align="center"><a href=generalInfo?byear=$byear&bmonth=$bmonth&bday=$bday&bhour=$bhour&bminute=$bminute&bsecond=$bsecond&ehour=$ehour&eminute=$eminute&esecond=$esecond&eyear=$eyear&emonth=$emonth&eday=$eday&sorttype=times>超时的次数</a></td>
			<td align="center"><a href=generalInfo?byear=$byear&bmonth=$bmonth&bday=$bday&bhour=$bhour&bminute=$bminute&bsecond=$bsecond&ehour=$ehour&eminute=$eminute&esecond=$esecond&eyear=$eyear&emonth=$emonth&eday=$eday&sorttype=maxtime>超时执行最长时间</a></td>
			<td align="center"><a href=generalInfo?byear=$byear&bmonth=$bmonth&bday=$bday&bhour=$bhour&bminute=$bminute&bsecond=$bsecond&ehour=$ehour&eminute=$eminute&esecond=$esecond&eyear=$eyear&emonth=$emonth&eday=$eday&sorttype=mintime>超时执行最短时间</a></td>
			<td align="center">超时的Sql</td>
		</tr>
	#foreach ($monthinfo in ${monthinfolist})
		#foreach($item in $monthinfo)
		<tr>
			<td align="center">${item.date}</td>
			<td align="center">${item.serviceFrom}</td>
			<td align="center">${item.avgTime}</td>
			<td align="center">${item.times}</td>
			<td align="center">${item.maxTime}</td>
			<td align="center">${item.minTime}</td>
			<td align="center">${item.sqlstr}</a></td>
		</tr>
		#end
	#end
	#set($name = "wangzhiliang")
	#if(!$name)
		
		
		
		#else
			
	#end
	</table>
	<script type="text/javascript">
                    swfobject.embedSWF("/y/open-flash-chart.swf", "sqlmonthinfo", "1000",
"800", "9.0.0", "expressInstall.swf",
                    {"get-data":"get_data_times"});
                </script>
                <script type="text/javascript">
                    function ofc_ready()
                    {
                    }
                    var tmp = false
                    function get_data_times()
                    {
                        return JSON.stringify(datafile_times);
                    }
                    function findSWF(movieName) {
                        if (navigator.appName.indexOf("Microsoft") != -1) {
                            return window[movieName];
                        } else {
                            return document[movieName];
                        }
                    }
                    var datafile_times =${data}
                </script>
                <div id="sqlmonthinfo">adf</div>
</body>
</html>