<html>
<head></head>
<body>
<table width='100%'><tr><td bgcolor='#F7F7F7' cellspacing='0' cellpadding='0'>
<table cellspacing='0' cellpadding='30'><tr><td>
<tr><th bgcolor='#3B5998' align='left' style="font-family:'lucida grande',tahoma,'bitstream vera sans',helvetica,sans-serif;line-height:120%;color:#FFF;font-size:24px;font-weight:bold;padding:4px">&nbsp;校内网</th></tr>
<tr><td style="border-left:1px solid #ADADAD;border-right:1px solid #ADADAD;border-bottom:1px solid #3b5998">
<table width="100%" cellspacing="0" bgcolor="#FFFFFF" cellpadding="20">
<tr>
#if($!{headurl_2} != "0/0/head.jpg")
	<td width="0" style="font-family:'lucida grande',tahoma,'bitstream vera sans',helvetica,sans-serif;font-size:12px;color:#666;" valign="top">
	<a href="http://xiaonei.com/getuser.do?id=$!{hostid}"><img src=$!{headurl} alt="$!{hostname}" name="$!{hostname}" style="padding:1px;border:1px solid #CCC;"/></a><br />
	<div style="padding:5px 0 5px 3px;">$!{hostname}</div>
	<div style="padding:0 0 0 6px;line-height:120%;">
	$!{album_count}&nbsp;张照片<br />
	$!{blog_count}&nbsp;片日志<br/>
	$!{gossip_count}&nbsp;条留言<br/>
	<span style=\"font-size:14px;\"><strong>我在校内网已有$!{friendscount}个好友：</strong></span><br /><br />
	#set($friendList = $!{friendList})
	<table>
	<tr>
	#set($index = 0)
	#foreach($value in $friendList)
		#set($key = $value)
		<td>
		<img src="$key.getTiny_Url()" alt="$!{hostname}" name="$!{hostname}" style="padding:1px;border:1px solid #CCC;"/>
		<br/><span style="font-size:12px; color:gray;padding:5px 0 5px 3px;">$key.getName()</span>
		</td>
		#set($index = $index + 1)
		#if($index % 2 ==0)
			</tr><tr>
		#end
		
	#end
	</table>
	</div>
	</td>
#end
<td style="font-family:'lucida grande',tahoma,'bitstream vera sans',helvetica,sans-serif;line-height:150%;color:#000;font-size:12px;" valign="top">
<div style="font-size:15px;"><p><Strong>我是$!{hostname}，邀请你来校内网参加“<font color="red">投票</font>”：</strong></p></div>
<blockquote style="margin-left:0px;"><div>
$!{customMessage}
</div><span>请点击以下链接，提交你的信息并接受好友邀请：</span><br/><a href="http://click.xiaonei.com/m.jsp?d=$!{mills}&t=700001244&u=$!{monitorUrlApp}" target="_blank" style="color:#000080;text-decoration:underline;">http://click.xiaonei.com/m.jsp?d=$!{mills}&t=700001244&u=$!{monitorUrlApp}</a></blockquote>
<div style="display:none;"><img src ="http://click.xiaonei.com/m.jsp?d=$!{mills}&t=1243"/></div>
</td></tr></table>
</td></tr></table>
</td></tr></table>
</td></tr></table>
</body>
</html>
