<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
        <meta name="Description" content="人人网 校内是一个真实的社交网络，联络你和你周围的朋友。 加入人人网校内你可以:联络朋友，了解他们的最新动态；和朋友分享相片、音乐和电影；找到老同学，结识新朋友；用照片和日志记录生活,展示自我。" />
        <meta name="Keywords" content="Xiaonei,Renren,校内,大学,同学,同事,白领,个人主页,博客,相册,群组,社区,交友,聊天,音乐,视频,校园,人人,人人网" />
        <link href="http://s.xnimg.cn/favicon-rr.ico?ver=2" rel="shortcut icon" type="image/x-icon" />
        <link href="http://xnimg.cn/renren_logo_apple.png" rel="apple-touch-icon" />
        <link href="/webmonitor/css/webmonitor.css" rel="stylesheet" type="text/css" media="all" />
        <script type="text/javascript" src="/webmonitor/js/jquery-1.3.2.min.js">
        </script>
        <script type="text/javascript"  src="/webmonitor/js/webmonitor.js">
        </script>
        <title>人人网 校内 - XNMonitor </title>
    </head>
    <body id="security" class="security width-auto">
        <div id="header" class="clearfix">
            <h1 class="logo">
                <a title="XNMonitor" href="http://monitor.d.xiaonei.com/">
                    <img src="http://xnimg.cn/webmonitor/img/logo.png" />
                </a>
            </h1>
            <div class="menu-body clearfix">
                <ul class="main-menu">
                </ul>
                <ul class="sub-menu">
					<!--
                	<li><a href="#">汪祖方(zufang.wang@opi-corp.com)</a></li>
					<li><a href="#">退出</a></li>
					-->
                </ul>
            </div>

        </div>
        <div id="main">
            <div class="monitor box">
            	<div class="box-hd">
            		<form>
                        <select name="dayType" onChange="submit()" >
                            <option value="hour" 
                                #if($dayType=="hour") 
                                    selected=true
                                #end>
                                过去一小时</option>
                                <option value="day"
                                    #if($dayType=="day") 
                                        selected=true
                                    #end>
                                    过去的一天
                                </option>
                                <option value="week" 
                                    #if($dayType=="week") 
                                        selected=true
                                    #end>
                                    过去的一周
                                </option>
                        </select>
                   
					<strong class="title">
						Group:
					</strong>
            		<select name="groupName" onchange="submit()">

            			<option value="all" 
							#if($groupName=="all")
								selected="true"
								#end
								>All</option>
							#foreach($group in ${renrenGroups})
								<option value="$group.groupName"
									#if($groupName==$group.groupName)
										selected="true"
										#end
									>$group.groupName</option>
								#end
						  
            			<option value="other"
							#if($groupName=="other")
								selected="true"
								#end
							>Other</option>

            		</select>
					<strong class="title">
						<a href="/http/overtime/listOvertime" >HTTP监控</a>
                        <a href="/db/sql_Jrobin/listBiz">SQL 监控</a>
                         <a href="/http/error/errInfo"  >404/500</a>
						<a href="/http/error/httpErr"class="current" >404/500图形</a>
						<a href="/im/im/imInfoList">IM状况</a>
					</strong>
                    </form>
				</div>

				<div class="box-bd">
					<h3>Group:$groupName 旗下所有域名的500/404情况</h3>
					<div class="box-content">
						#foreach($domain in ${groupedDomains})
						<h4>$domain.domain</h4>
						<ul class="figure">
							#foreach($errType in $domain.errTypes)
							<li><img src="../../imgstreamHttpErr/getImg?dayType=$dayType&errType=$errType&groupName=$groupName&domain=$domain.domain&type=single&bigPic=small" /></li>
							#end
						</ul>
							#end
						
					</div>
				</div>
            </div>

        </div>
        <div id="footer">
	        <div class="copyright">
	            <span class="links"><a href="http://page.renren.com/600002246">关于</a><span class="pipe">|</span><a href="http://dev.renren.com">开放平台</a><span class="pipe">|</span><a href="http://mobile.renren.com/home.do?psf=40002">手机人人网</a><span class="pipe">|</span><a href="http://renren.com/info/jobs.jsp">招聘</a><span class="pipe">|</span><a href="http://support.renren.com/GetGuestbookList.do">客服</a><span class="pipe">|</span><a href="http://renren.com/info/Help.do">帮助</a><span class="pipe">|</span><a href="http://renren.com/info/PrivacyClaim.do">隐私声明</a><span class="pipe">|</span><a href="http://renren.com/info/Link.do">友情链接</a><span class="pipe">|</span><a href="http://www.kaixin.com/">开心网</a></span>

	            <span>千橡公司 <span title="revision8586; SJSWT44-49.opi.com">©</span> 2009</span>
	        </div>
        </div>
    </body>
</html>
