<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>校内web监控</title>
</head>
<body>
    <b2>Http 监控概况</b2>
	<br>
    <a href="/y/db/sql/generalInfo?byear=$byear&bmonth=$bmonth&bday=$bday&bhour=$bhour&bminute=$bminute&bsecond=$bsecond&ehour=$ehour&eminute=$eminute&esecond=$esecond&eyear=$eyear&emonth=$emonth&eday=$eday">sql慢查询概况</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/y/http/error/geneInfo?byear=$byear&bmonth=$bmonth&bday=$bday&bhour=$bhour&bminute=$bminute&bsecond=$bsecond&ehour=$ehour&eminute=$eminute&esecond=$esecond&eyear=$eyear&emonth=$emonth&eday=$eday">404/500概况</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/y/http/error/details?byear=$byear&bmonth=$bmonth&bday=$bday&bhour=$bhour&bminute=$bminute&bsecond=$bsecond&ehour=$ehour&eminute=$eminute&esecond=$esecond&eyear=$eyear&emonth=$emonth&eday=$eday">404/500详情</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/y/http/overtime/geneInfo?byear=$byear&bmonth=$bmonth&bday=$bday&bhour=$bhour&bminute=$bminute&bsecond=$bsecond&ehour=$ehour&eminute=$eminute&esecond=$esecond&eyear=$eyear&emonth=$emonth&eday=$eday">Url超时概括</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br>
	<form>
	开始时间：
	<select name="byear">
		#foreach ($item in [2009..2022])
			<option value="${item}" 
		#if($timeParam.byear == $item)
			selected="true"
		#end
		/>${item}
		#end
    </select>
	年
	<select name="bmonth">
		#foreach ($item in [1..12])
			<option value="${item}" 
		#if($timeParam.bmonth == $item)
			selected="true"
		#end
		/>${item}
		#end
		
    </select>月
	<select name="bday">
		#foreach ($item in [1..31])
			<option value="${item}" 
		#if($timeParam.bday == $item)
			selected="true"
		#end
		/>${item}
		#end
        </option>
    </select>日
	<select name="bhour">
		#foreach ($item in [0..23])
			<option value="${item}" 
		#if($timeParam.bhour == $item)
			selected="true"
		#end
		/>${item}
		#end
        </option>
	</select>:
		<select name="bminute">
		#foreach ($item in [0..59])
			<option value="${item}" 
		#if($timeParam.bminute == $item)
			selected="true"
		#end
		/>${item}
		#end
        </option>
	</select>:
		<select name="bsecond">
		#foreach ($item in [0..59])
			<option value="${item}" 
		#if($timeParam.bsecond == $item)
			selected="true"
		#end
		/>${item}
		#end
        </option>
	</select>
	
	～
	结束时间：
	<select name="eyear">
		
		#foreach ($item in [2009..2022])
			<option value="${item}" 
		#if($timeParam.eyear == $item)
			selected="true"
		#end
		/>${item}
		#end
        </option>
    </select>
	年
	<select name="emonth">
		#foreach ($item in [1..12])
			<option value="${item}" 
		#if($timeParam.emonth == $item)
			selected="true"
		#end
		/>${item}
		#end
    </select>月
	<select n	<li>
	ame="eday">
		#foreach ($item in [1..31])
			<option value="${item}" 
		#if($timeParam.eday == $item)
			selected="true"
		#end
		/>${item}
		#end
    </select>日
	<select name="ehour">
		#foreach ($item in [0..23])
			<option value="${item}" 
		#if($timeParam.ehour == $item)
			selected="true"
		#end
		/>${item}
		#end
        </option>
	</select>:
		<select name="eminute">
		#foreach ($item in [0..59])
			<option value="${item}" 
		#if($timeParam.eminute == $item)
			selected="true"
		#end
		/>${item}
		#end
        </option>
	</select>:
		<select name="esecond">
		#foreach ($item in [0..59])
			<option value="${item}" 
		#if($timeParam.esecond == $item)
			selected="true"
		#end
		/>${item}
		#end
        </option>
	</select><br />
	域名：<input type="text" name ="domain" value ="$domain"/>
	<input type="submit" value="查看"/>
    </form>
    <b2 ><strong>域名：$domain</strong></b2>
<table>
	<td>
		<tr>
			<td align="center">url404</a></td>
			<td align="center">amount</a></td>
			<td align="center">referer</a></td>
			<!-- <td align="center">happenTime</a></td>
			-->
		</tr>
		#foreach ($item in ${list404})
		<tr>
			<td align="center"><a href=detailmonthinfo?byear=$byear&bmonth=$bmonth&bday=$bday&bhour=$bhour&bminute=$bminute&bsecond=$bsecond&ehour=$ehour&eminute=$eminute&esecond=$esecond&eyear=$eyear&emonth=$emonth&eday=$eday&errortype=404&url=${item.url}&referer=${item.referer}>${item.url}</a></td>
			<td align="center">${item.amount}</td>
			<td align="center">${item.referer}</td>
		</tr>
		#end
	</td>
	<td>
		<tr>
			<td align="center">url500</a></td>
			<td align="center">amount</a></td>
			<td align="center">referer</a></td>
			<!-- <td align="center">happenTime</a></td>
			-->
		</tr>
		#foreach ($item in ${list500})
		<tr>
			<td align="center"><a href=detailmonthinfo?byear=$byear&bmonth=$bmonth&bday=$bday&bhour=$bhour&bminute=$bminute&bsecond=$bsecond&ehour=$ehour&eminute=$eminute&esecond=$esecond&eyear=$eyear&emonth=$emonth&eday=$eday&errortype=500&url=${item.url}&referer=${item.referer}>${item.url}</a></td>
			<td align="center">${item.amount}</td>
			<td align="center">${item.referer}</td>
		</tr>
		#end
		
    </td>
	#set($name = "wangzhiliang")
	#if(!$name)
		
		
		
		#else
			
	#end
</table>
</body>
</html>