<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>校内web监控</title>
<script type="text/javascript"src="/y/js/swfobject.js"></script>
<script type="text/javascript"src="/y/js/json2.js"></script>
</head>
<body>
    <b2>URLSlow 监控30天概况</b2>
	<br>
    <a href="/y/db/sql/generalInfo?byear=$byear&bmonth=$bmonth&bday=$bday&bhour=$bhour&bminute=$bminute&bsecond=$bsecond&ehour=$ehour&eminute=$eminute&esecond=$esecond&eyear=$eyear&emonth=$emonth&eday=$eday">sql慢查询概况</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/y/http/error/geneInfo?byear=$byear&bmonth=$bmonth&bday=$bday&bhour=$bhour&bminute=$bminute&bsecond=$bsecond&ehour=$ehour&eminute=$eminute&esecond=$esecond&eyear=$eyear&emonth=$emonth&eday=$eday">404/500概况</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/y/http/error/details?byear=$byear&bmonth=$bmonth&bday=$bday&bhour=$bhour&bminute=$bminute&bsecond=$bsecond&ehour=$ehour&eminute=$eminute&esecond=$esecond&eyear=$eyear&emonth=$emonth&eday=$eday">404/500详情</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/y/http/overtime/geneInfo?byear=$byear&bmonth=$bmonth&bday=$bday&bhour=$bhour&bminute=$bminute&bsecond=$bsecond&ehour=$ehour&eminute=$eminute&esecond=$esecond&eyear=$eyear&emonth=$emonth&eday=$eday">Url超时概括</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br>
	<form>
	开始时间：
	<select name="byear">
		#foreach ($item in [2009..2022])
			<option value="${item}" 
		#if($timeParam.byear == $item)
			selected="true"
		#end
		/>${item}
		#end
    </select>
	年
	<select name="bmonth">
		#foreach ($item in [1..12])
			<option value="${item}" 
		#if($timeParam.bmonth == $item)
			selected="true"
		#end
		/>${item}
		#end
		
    </select>月
	<select name="bday">
		#foreach ($item in [1..31])
			<option value="${item}" 
		#if($timeParam.bday == $item)
			selected="true"
		#end
		/>${item}
		#end
        </option>
    </select>日
	<select name="bhour">
		#foreach ($item in [0..23])
			<option value="${item}" 
		#if($timeParam.bhour == $item)
			selected="true"
		#end
		/>${item}
		#end
        </option>
	</select>:
		<select name="bminute">
		#foreach ($item in [0..59])
			<option value="${item}" 
		#if($timeParam.bminute == $item)
			selected="true"
		#end
		/>${item}
		#end
        </option>
	</select>:
		<select name="bsecond">
		#foreach ($item in [0..59])
			<option value="${item}" 
		#if($timeParam.bsecond == $item)
			selected="true"
		#end
		/>${item}
		#end
        </option>
	</select>
	
	～
	结束时间：
	<select name="eyear">
		
		#foreach ($item in [2009..2022])
			<option value="${item}" 
		#if($timeParam.eyear == $item)
			selected="true"
		#end
		/>${item}
		#end
        </option>
    </select>
	年
	<select name="emonth">
		#foreach ($item in [1..12])
			<option value="${item}" 
		#if($timeParam.emonth == $item)
			selected="true"
		#end
		/>${item}
		#end
    </select>月
	<select name="eday">
		#foreach ($item in [1..31])
			<option value="${item}" 
		#if($timeParam.eday == $item)
			selected="true"
		#end
		/>${item}
		#end
    </select>日
	<select name="ehour">
		#foreach ($item in [0..23])
			<option value="${item}" 
		#if($timeParam.ehour == $item)
			selected="true"
		#end
		/>${item}
		#end
        </option>
	</select>:
		<select name="eminute">
		#foreach ($item in [0..59])
			<option value="${item}" 
		#if($timeParam.eminute == $item)
			selected="true"
		#end
		/>${item}
		#end
        </option>
	</select>:
		<select name="esecond">
		#foreach ($item in [0..59])
			<option value="${item}" 
		#if($timeParam.esecond == $item)
			selected="true"
		#end
		/>${item}
		#end
        </option>
	</select>
	<input type="submit" value="查看"/>
    </form>
<table>
		<tr>
			<td align="center">域名</a></td>
			<td align="center">超时的URL</a></td>
			<td align="center">时间</a></td>
			<td align="center"><a href=geneInfo?byear=$byear&bmonth=$bmonth&bday=$bday&bhour=$bhour&bminute=$bminute&bsecond=$bsecond&ehour=$ehour&eminute=$eminute&esecond=$esecond&eyear=$eyear&emonth=$emonth&eday=$eday&sorttype=avgtime>平均时间(ms)</a></td>
			<td align="center"><a href=geneInfo?byear=$byear&bmonth=$bmonth&bday=$bday&bhour=$bhour&bminute=$bminute&bsecond=$bsecond&ehour=$ehour&eminute=$eminute&esecond=$esecond&eyear=$eyear&emonth=$emonth&eday=$eday&sorttype=times>次数</a></td>
			<td align="center"><a href=geneInfo?byear=$byear&bmonth=$bmonth&bday=$bday&bhour=$bhour&bminute=$bminute&bsecond=$bsecond&ehour=$ehour&eminute=$eminute&esecond=$esecond&eyear=$eyear&emonth=$emonth&eday=$eday&sorttype=maxtime>执行最长时间(ms)</a></td>
			<td align="center"><a href=geneInfo?byear=$byear&bmonth=$bmonth&bday=$bday&bhour=$bhour&bminute=$bminute&bsecond=$bsecond&ehour=$ehour&eminute=$eminute&esecond=$esecond&eyear=$eyear&emonth=$emonth&eday=$eday&sorttype=mintime>执行最短时间(ms)</a></td>
		</tr>
	#foreach ($itemlist in ${monthinfolist})
		#foreach ($item in $itemlist)
		<tr>
			<td align="center">${item.domain}</td>
			<td align="center">${item.url}</td>
			<td align="center">${item.date}</td>
			<td align="center">${item.avgTime}</td>
			<td align="center">${item.times}</td>
			<td align="center">${item.maxTime}</td>
			<td align="center">${item.minTime}</td>
		</tr>
		#end
	#end
	#set($name = "wangzhiliang")
	#if(!$name)
		
		
		
		#else
			
	#end
</table>
<script type="text/javascript">
                    swfobject.embedSWF("/y/open-flash-chart.swf", "overtimemonth", "1000",
"800", "9.0.0", "expressInstall.swf",
                    {"get-data":"get_data"});
                </script>
                <script type="text/javascript">
                    function ofc_ready()
                    {
                    }
                    var tmp = false
                    function get_data()
                    {
                        return JSON.stringify(overtimemonthdata);
                    }
                    function findSWF(movieName) {
                        if (navigator.appName.indexOf("Microsoft") != -1) {
                            return window[movieName];
                        } else {
                            return document[movieName];
                        }
                    }
                    var overtimemonthdata =
                    ${overtimemonthdata}
                </script>
                <div id="overtimemonth"> </div>
</body>
</html>