/*
 * main.cc
 *
 *  Created on: 2008-11-20
 *      Author: bbc
 */

#include "windows_live_importer.h"

using namespace std;
using namespace xce::importer;
using namespace com::live::schema;

int main(int argc, char* argv[]) {
	string token;
	{
		WindowsLiveTokenProcessor token_processor(argv[1], argv[2]);
		token_processor.initialize();
		if (!token_processor.is_ok()) {
			cout << "Token not ok" << endl;
			return 1;
		} else {
			cout << "Token ok" << endl;
			token = token_processor.token();
		}
	}

	TLiveContacts contacts;
	{
		WindowsLiveContactsProcessor contacts_processor(argv[1], token);
		contacts_processor.initialize();

		if (!contacts_processor.is_ok()) {
			cout << "Contacts not ok" << endl;
			return 1;
		} else {
			cout << "Contacts ok" << endl;
			contacts = contacts_processor.contacts();
		}
	}

	cout << "Contact Owner: " << contacts.Owner.WindowsLiveID << endl;
	cout << contacts.Contacts.size() << " Contacts" << endl;
}
