<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>xiyangyang</title>
</head>

<body>
<div class="login-panel">
<div class="inner">
<div class="innertop"/>

<h3>instance属性:</h3>
{%if error_info%}<h4 style="color:red">出错了:{{error_info}}</h4>{%end%}

<form action="/edit_instance" method="post">
  <label for="name">名称</label><input type="text" name="name" value="{{name}}"/><br/>
{% if insert %}
  <label for="type">类型</label><select type="select" name="type" >
                <option value="singler" {%if type == "singler"%} selected {%end%}>singler</option>
                <option value="router" {%if type == "router"%} selected {%end%}>router</option> </select>
  <input type="hidden" name="insert" value="true"  />
                                            <br/>
  <input type="submit" value="添加"/>
{% else %}
  <input type="submit" value="修改"/>
{% end %}
 <a href= "/">返回</a>
 
{{ xsrf_form_html() }} 
</form>

</body>
</html> 
