<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>xiyangyang</title>
</head>

<body>
<div class="login-panel">
<div class="inner">
<div class="innertop"/>

<style type="text/css">
input[readonly]{
  background-color:#ebebe4;
}
</style>
 
{% if insert %}
  <h3>route属性:</h3>
{% else %}
  <h3>route属性:</h3>
{% end %}

{%if error_info%}<h4 style="color:red">出错了:{{error_info}}</h4>{%end%}

<form action="/edit_route" method="post">
{% if not insert %}
  <label for="id">id</label><input type= "text" name="id" readonly="" value="{{route.id}}"></input><br/>
{%end%}

  <label for="expression">expression</label><input type="text" name="expression"
                                                value="{%if route%}{{route.expression}}{%else%}sdfasdf{%end%}"/><br/>
  <label for="instance">server</label><input type="text" name="instance" 
                                                value="{%if route%}{{route.instance}}{%end%}"/><br/>
{% if insert %}
  <input type="hidden" name= "instance_name" value={{instance_name}} />
  <input type="hidden" name="insert" value="true" />
  <input type="submit" value="添加"/>
{% else %}
  <input type="submit" value="修改"/>
{% end %}
 <a href= "/">返回</a>
 
{{ xsrf_form_html() }} 
</form>

</body>
</html> 
