<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-autowire="no" default-lazy-init="true">

	<!-- <bean id="jade.dataSource.com.renren.entries.index.dao" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/fb"></property> <property 
		name="username" value="root"></property> <property name="password" value="root"></property> 
		</bean> -->


	<bean id="entries.core.entryService" class="com.renren.entries.core.EntryServiceImpl">
	</bean>

	<bean id="entries.core.fieldConstraints" class="com.renren.entries.core.FieldConstraints">
		<!-- 加!后缀表示强制索引(如"author!")，两个减号之后的表示忽略,如"myat,这里两个减号,place," -->
		<property name="indexFields"
			value="parent,author,master,atme,myat,latitude,longitude,subtype,create_time,place,tag" />
	</bean>

	<bean id="entries.core.queryService" class="com.renren.entries.core.query.QueryService">
	</bean>

	<bean id="entries.core.tagService" class="com.renren.entries.core.tag.TagService">
	</bean>


	<bean id="entries.core.cachedInfoDAO" class="com.renren.entries.core.dao.CachedInfoDAO">
		<property name="infoCache" ref="entries.core.infoCache" />
		<!--2hours -->
		<property name="expireInSecond" value="43200" />
	</bean>

	<bean id="entries.core.infoCache" class="com.renren.xcache.XCache"
		factory-method="getCache">
		<constructor-arg value="entries.info" type="java.lang.String" />
		<constructor-arg value="java.lang.String" type="java.lang.Class" />
	</bean>

</beans>