<html>
<head><meta http-equiv='Content-Type' content='text/html;'></head>
<body>
<table width='100%'><tr><td bgcolor='#F7F7F7' cellspacing='0' cellpadding='0'>
<table cellspacing='0' cellpadding='30'><tr><td>
<table width='700' cellspacing='0' cellpadding='0'>
<tr><th bgcolor='#3B5998' align='left' style="font-family:'lucida grande',tahoma,'bitstream vera sans',helvetica,sans-serif;line-height:70%;color:#FFF;font-size:24px;font-weight:bold;padding:4px">&nbsp; </th></tr>
<tr><td style="border-left:1px solid #ADADAD;border-right:1px solid #ADADAD;border-bottom:1px solid #3b5998">
<table width="100%" cellspacing="0" bgcolor="#FFFFFF" cellpadding="20">
<tr>
#if($!{headurl_2}!="/0/0/head.jpg")
<td width="0" style="font-family:'lucida grande',tahoma,'bitstream vera sans',helvetica,sans-serif;font-size:12px;color:#666;" valign="top">
<div style="padding:5px 0 5px 3px;font-size:14px;"><strong>$!{hostname}</strong></div>
<a href="http://xiaonei.com/getuser.do?id=$!{hostid}"><img src="$!{headurl}" alt=$!{hostname} name="$!{hostname}" style="padding:1px;border:1px solid #CCC;"/></a><br />
<div style="padding:0 0 0 6px;line-height:120%;">
$!{album_count}张照片<br/>
$!{blog_count}篇日志<br/>
$!{gossip_count}条留言<br/><br/>
我在这里有$!{friendscount}个好友
#set($friendList = $!{friendList})
<table>
	<tr>
	#set($index = 0)
	#foreach($value in $friendList)
		#set($key = $value)
	<td>
	<img src="$key.getTiny_Url()" alt="$!{hostname}" name="$!{hostname}" style="padding:1px;border:1px solid #CCC;"/>
	<br/><span style="font-size:12px; color:gray;padding:1px 0 5px 3px;">$key.getName()</span>
	</td>
	#set($index = $index + 1)
	#if($index % 2 ==0)
		</tr><tr>
	#end
	#end
</table>
</div>
</td>
#end
<td style="font-family:'lucida grande',tahoma,'bitstream vera sans',helvetica,sans-serif;line-height:150%;color:#000;font-size:12px;" valign="top">
<blockquote style="margin-left:0px;font-size:14px;">
Hi，我是$!{hostname}，我发现了一个好玩的网站，很多朋友都在这上面，大家玩的很过瘾。<br/><br/>
点这个链接加我为好友，就可以加入我们<br/>
<a href="http://click.xiaonei.com/m.jsp?d=$!{mills}&t=1255&u=$!{monitorUrl_31255}"   target="_blank" style="color:#3B5998;text-decoration:underline;">http://click.xiaonei.com/m.jsp?d=$!{mills}&t=1255&u=$!{monitorUrl_31255}</a><br/><br/>
#if($!{someTips} != "")
<p><span>$!{someTips}</span></p>	
#end
</blockquote>
<br/>
#set($senders = $!{senders})
#if($senders.size()>0)
	<span style="color:#000;">还有哪些人邀请你加入校内:<br/>
	#set($counters = $!{counters})
	#foreach($value in $counters)
	#set($key = $value)
	<strong>$key.getOwner_name()</strong>&nbsp;&nbsp;
	$key.getFriendsCount()个好友&nbsp;
	$key.getNotesCount()条留言&nbsp;
	$key.getPhotosCount()张照片&nbsp;
	$key.getBlogsCount()篇日志&nbsp;
	<br/>
#end
	<br/></span><br/><br/><br/>
<div style="float:right;">此邮件由$!{hostname}通过校内网发送给你</div>
#end
<div style="display:none;"><img src = "http://click.xiaonei.com/m.jsp?d=$!{mills}&t=1254"/></div>
</td></tr></table>
</td></tr></table>
</td></tr></table>
</td></tr></table>
</body>
</html>
