<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd"
	version="2.4">

	<context-param>
		<param-name>portalExecutorCorePoolSize</param-name>
		<param-value>2000</param-value>
	</context-param>

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/log4j.xml</param-value>
	</context-param>
	<context-param>
		<param-name>log4jRefreshInterval</param-name>
		<param-value>60</param-value>
	</context-param>

	<distributable />
	<display-name>xiaonei.com</display-name>
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>com.xiaonei.platform.core.opt.base.action.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>


	</filter-mapping>
	<filter>
		<filter-name>DomainIdentifiedFilter</filter-name>
		<filter-class>com.xiaonei.platform.core.domainIdentified.DomainIdentifiedFilter
		</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>DomainIdentifiedFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>OpiWrapperFilter</filter-name>
		<filter-class>com.xiaonei.platform.core.opt.base.wrapper.OpiWrapperFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>OpiWrapperFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<filter>
		<filter-name>UserDomainFilter</filter-name>
		<filter-class>com.xiaonei.platform.core.opt.base.action.UserDomainFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UserDomainFilter</filter-name>
		<url-pattern>/*</url-pattern>

	</filter-mapping>

	<filter>
		<filter-name>resin-profiler</filter-name>
		<filter-class>com.xiaonei.tools.profiler.ProfilerFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>resin-profiler</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>


	<filter>
		<filter-name>RoseFilter</filter-name>
		<filter-class>net.paoding.rose.RoseFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RoseFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>



	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>


	<servlet>
		<servlet-name>xiaoneilog</servlet-name>
		<servlet-class>com.xiaonei.tools.profiler.ProfilerServlet
		</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>xiaoneilog</servlet-name>
		<url-pattern>/resin-profiler</url-pattern>
	</servlet-mapping>

</web-app>
